<div class="container">
    <div class="bs-example">
        <ul class="nav nav-tabs full-width">
            <li class="active half-width text-center my-tab"><a href="">Cours</a></li>
            <li class="half-width text-center my-tab"><a href="#/conferences/">Conf&eacute;rences et Ateliers</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Administration Horaire des cours </h2>
        </div><!-- ./col-sm-12 -->
    </div><!-- ./row -->
    {% include "admin_activities/teacher.html" %}
    <hr />


    {% include "admin_activities/course_name.html" %}


    <div ng-show="(teacher.id && courseName.id)">
        <hr />

        {% include "admin_activities/course.html" %}
        <hr />

        <div ng-show="course.id">
            {% include "admin_activities/schedule.html" %}
            <hr />
        </div><!-- ng-show="course.id" -->

        <div ng-show="schedule.id">
            {% include "admin_activities/day_schedule_main.html" %}
            <hr />
        </div><!-- ./ng-show="schedule.id" -->

        <div ng-show="daySchedule.id">
            {% include "admin_activities/testing_day.html" %}
            <hr />
        </div><!-- ./ng-show="schedule.id" -->
    </div><!-- ./(teacher.id && courseName.id) -->
</div><!-- container -->