.coursed-data {
    font-family: 'Open Sans', Verdana, 'DejaVu Sans', sans-serif;
    /*font-family: Gotham, sans-serif;*/
    font-size: 16px;
}

.coursed-li-day-name {
    list-style-type: none;
}


.coursed-li-hour {
    margin: 0;
    padding: 0;
}

.coursed-li-schedule {
    margin-top: 15px;
    margin-bottom: 15px;
}

.coursed-image {
	max-width:300px;
}